<main>
  <article class="login-container">
    <img src="https://cdn-icons-png.freepik.com/512/6681/6681221.png" alt="Login Icon" class="login-icon mb-3"
      style="width: 100px; height: auto; display: block; margin: 0 auto;">
    <h1 class="fw-bold text-primary">Iniciar sesión</h1>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="username">
        <p class="fs-6 fw-semibold flex-grow-1">Usuario</p>
      </label>
      <input type="text" id="username" name="username" [(ngModel)]="username" required />

      <label for="password">
        <p class="fs-6 fw-semibold flex-grow-1">Contraseña</p>
      </label>
      <input type="password" id="password" name="password" [(ngModel)]="password" required />

      <button type="submit">
        <h2 class="h5 m-0">Entrar</h2>
      </button>
    </form>

    <div class="login-error" *ngIf="authService.getLoginStatus() === 'error'">
      <p class="text-danger fs-6 fw-semibold flex-grow-1 d-flex justify-content-center">Usuario o contraseña incorrectos
      </p>
    </div>

    <div class="login-error" *ngIf="authService.getLoginStatus() === 'empty'">
      <p class="text-danger fs-6 fw-semibold flex-grow-1 d-flex justify-content-center">Por favor, completa todos los
        campos
      </p>
    </div>

    <div [ngSwitch]="authService.getLoginStatus()">
      <p *ngSwitchCase="'success'" class="success">¡Login correcto!</p>
      <p *ngSwitchDefault></p>
    </div>
  </article>
</main>